.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.chart {
  display: inline-block;
  width: 400px;
  height: 200px;
  margin-top: 20px;
}

.btn {
  margin: 10px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn-run {
  background-color: rgb(168, 155, 241);
}

.btn-reset {
  background-color: rgb(238, 179, 169);
}

.btn-reset-all {
  margin-top: 15px;
  background-color: rgb(116, 219, 116);
  border-color: darkgreen;
}